.cabin {
    background-color: var(--blue);
    height: 4rem;
    width: 2rem;
    opacity: 1;
    position: absolute;
    transition: all 2s ease-in-out;
}

.top {
    transform: translateY(0)
}

.middle {
    transform: translateY(13rem)
}

.bottom {
    transform: translateY(26rem)
}